body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0b0455;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgb(251, 251, 252);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(18, 207, 237, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #77a6d9;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
